.App {
  text-align: center;
}
.logo {
  width: 150px;
}
.site {
  text-align: left;
  margin: 30px 0 30px 0;
  color: #0a468c;
}

.title {
  font-weight: 545;
  font-size: 22px;
  float: left;
  text-align: left;
  margin: 10px 0 15px 0;
  color: #0a468c;
}
.title:hover {
  color: red;
}

.type {
  float: left;
  border-left: 3px solid;
  padding-left: 6px;
  color: #0a468c;
}

.meta {
  float: right;
  color: #7d91a1;
}
.summary {
  text-indent: 2em;
  text-align: left;
  line-height: 30px;
  color: #666;
}

.pagination {
  margin: 40px 0 80px 0;
}
